{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<h1 class="text-2xl">Search</h1>

<h2 class="text-xs text-gray-600">Search results for "{{ query }}":</h2>

{% if services %}
{% include 'partials/services.html' %}
{% else %}
<p>There are no services matching this query!</p>
{% endif %}
{% endblock %}
