{% extends 'base.html' %}

{% block title %}{{ service.title }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ service.description }}">
<meta name="author" content="Brandon Ssozi">
<meta property="og:title" content="Webshop | {{ service.title }}">
<meta property="og:description" content="{{ service.description }}">
<meta property="og:type" content="article">
<meta property="og:url" content="http://webshop.com/{% url 'service_detail' service.category.slug service.slug %}/">
{% if service.image %}
<meta property="og:image" content="http://webshop.com/{{ service.image.url }}/">
{% endif %}

{% endblock %}

{% block content %}
{% if service.image %}
<div class="image mb-4">
    <img src="{{ service.image.url }}" alt="Image of {{ service.title }}">
</div>
{% endif %}
<h1 class="text-2xl">{{ service.title }}</h1>
<p class="text-xs text-gray-500">
    <a href="{% url 'vendor_detail' service.user.id %}">{% firstof service.user.get_full_name service.user.username %}</a>
</p>
<p class="mt-4">Located in {{ service.location }}</p>
{% if service.description %}
<p class="mt-4">{{ service.description }}</p>
{% endif %}

<a href="{% url 'make_appointment' service.id %}" class="inline-block px-8 py-4 bg-teal-500 text-white">Make appointment</a>

<style>
    .review-section {
        margin-top: 20px;
    }

    .review {
        background-color: #f0f8ff;
        border: 1px solid #008080;
        padding: 10px;
        margin-bottom: 10px;
    }

    .review p {
        margin: 5px 0;
    }

    .review-form {
        margin-top: 20px;
    }

    .review-form label {
        display: block;
        margin-bottom: 5px;
    }

    .review-form input[type="text"],
    .review-form textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .review-form button {
        background-color: #008080;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .review-form button:hover {
        background-color: #005353;
    }
</style>

<h2>Reviews</h2>
<div class="review-section">
    {% if reviews %}
        <p>Average Rating: {{ avg_rating }}</p>
        {% for review in reviews %}
            <div class="review">
                <p><strong>Rating:</strong> {{ review.rating }}</p>
                <p><strong>Comment:</strong> {{ review.comment }}</p>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
</div>

{% if form %}
    <div class="review-form">
        <h2>Add Review</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a review.</p>
{% endif %}

{% endblock %}