{% extends 'base.html' %}
{% block title %}Delete Account{% endblock %}
{% block content %}
    
<h1 class="text-2xl">Delete Account</h1>
    <p>Are you sure you want to delete your account?</p>
    <form method="post" action="{% delete_account.html %}">
        {% csrf_token %}
        <button type="submit" class="mt-6 inline-block py-4 px-8 bg-red-400 text-white">Yes,delete my account</button>
        <a href="{% url 'frontpage' %}">Cancel</a>

    </form>
</body>
</html>s