{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md">
    <div class="py-4 px-6">
        <h1 class="text-2xl font-bold mb-4">Login</h1>
        <form method="post" action=".">
            {% csrf_token %}

            {% if form.errors %}
                <div class="mb-4">
                    <p class="text-red-500">Please correct the following errors:</p>
                    <ul>
                        {% for field, error in form.errors.items %}
                            {% for message in error %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="mb-4">
                <label for="id_username" class="block text-sm font-medium text-gray-700">Username:</label>
                <input type="text" name="username" id="id_username" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" required autofocus>
            </div>

            <div class="mb-6">
                <label for="id_password" class="block text-sm font-medium text-gray-700">Password:</label>
                <input type="password" name="password" id="id_password" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" required>
            </div>

            <button type="submit" class="w-full py-2 px-4 bg-teal-600 text-white font-semibold rounded-xl hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-opacity-50">Login</button>
        </form>
    </div>
</div>
{% endblock %}