{% extends 'base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="bg-teal-400 min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold mb-4">My Account</h1>

    <!-- Display Username -->
    <p class="text-lg mt-2">Welcome, <strong>{{ request.user.username }}</strong></p>

    <!-- Logout Button -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="mt-6 py-3 px-6 bg-red-400 text-white rounded-lg">Log out</button>
    </form>

    <!-- Delete Button -->
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit" class="mt-6 py-3 px-6 bg-red-400 text-white rounded-lg">Delete Account</button>
    </form>

    <!-- Vendor Application Button -->
    {% if not request.user.userprofile.is_vendor %}
    <form method="post" action="{% url 'apply_for_vendor' %}">
        {% csrf_token %}
        <button type="submit" class="mt-6 py-3 px-6 bg-green-400 text-white rounded-lg">Apply to become a vendor</button>
    </form>
    {% endif %}
</div>
{% endblock %}



