<style>
    /* Define a fixed height for the service cards */
    .service {
        height: 300px; /* Adjust this value as needed */
    }
</style>

<div class="flex flex-wrap">
    {% for service in services %}
    <div class="service w-1/3 p-2">
        <div class="p-4 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition duration-300 h-full">
            <a href="{% url 'service_detail' service.category.slug service.slug %}" class="block h-full">
                <div class="image mb-2">
                    <img src="{{ service.get_thumbnail }}" alt="Image of {{ service.title }}" class="w-full h-auto rounded-md">
                </div>
                <h2 class="text-lg font-semibold text-gray-800">{{ service.title }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
