<title>Dropdown Menu</title>
<style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

.dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
  }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
</style>
</head>
<body>

<div class="dropdown">
    <button class="dropbtn bg-teal-800 text-white hover:bg-teal-900">Categories</button>
    <div class="dropdown-content">
        {% for category in categories %}
        <a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
        {% endfor %}
    </div>
</div>

</body>

<a href="{% url 'about' %} " class="text-white">About</a>

